POSTGRES_USER=erp
POSTGRES_PASSWORD=SET_A_STRONG_POSTGRES_PASSWORD
POSTGRES_DB=erp

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=SET_A_STRONG_KEYCLOAK_ADMIN_PASSWORD
KEYCLOAK_DB_USER=keycloak
KEYCLOAK_DB_PASSWORD=SET_A_STRONG_KEYCLOAK_DB_PASSWORD

MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=SET_A_STRONG_MINIO_PASSWORD

APP_URL=https://erp.gob.local
API_URL=https://api.erp.gob.local
KEYCLOAK_PUBLIC_URL=https://auth.erp.gob.local
KEYCLOAK_REALM=erp
KEYCLOAK_CLIENT_ID=erp-frontend
KEYCLOAK_API_CLIENT_ID=erp-api
KEYCLOAK_API_CLIENT_SECRET=SET_A_STRONG_API_CLIENT_SECRET
KEYCLOAK_BACKEND_CLIENT_SECRET=SET_A_STRONG_BACKEND_CLIENT_SECRET
FRONTEND_CSRF_MODE=enforce
APP_ALLOWED_ORIGINS=https://erp.gob.local

ERP_FRONTEND_TESTER_PASSWORD=SET_A_STRONG_TESTER_PASSWORD
ERP_CAPTURISTA_PASSWORD=SET_A_STRONG_CAPTURISTA_PASSWORD
ERP_REVISOR_PASSWORD=SET_A_STRONG_REVISOR_PASSWORD
ERP_FINANZAS_PASSWORD=SET_A_STRONG_FINANZAS_PASSWORD
ERP_OIC_PASSWORD=SET_A_STRONG_OIC_PASSWORD
ERP_ADMIN_PASSWORD=SET_A_STRONG_ADMIN_PASSWORD

INSTALL_PROFILE=demo
ERP_INSTITUTION_NAME=ERP-GOB Demo
ERP_TENANT_KEY=demo
ERP_INSTITUTION_STATE=Oaxaca
ERP_NORMATIVE_LAW=Ley de Adquisiciones del Estado de Oaxaca
ERP_NORMATIVE_LICITACION_THRESHOLD=1200000
ERP_NORMATIVE_INVITACION_THRESHOLD=350000
ERP_BRANDING_NAME=ERP-GOB Demo
ERP_BRANDING_PRIMARY_COLOR=#0B2D4F
ERP_BRANDING_SECONDARY_COLOR=#C39A35
ERP_BRANDING_LOGO_URL=
ERP_ACTIVE_MODULES=CONTRACTUAL,INVENTARIO,PATRIMONIAL,OBSERVABILIDAD,FINANZAS,ANALYTICS
ERP_UNIT_NAME=Dirección General de Administración
ERP_AREA_NAME=Área Solicitante
ERP_AREA_TYPE=ADMINISTRATIVA
