POSTGRES_USER=erp
POSTGRES_PASSWORD=erp
POSTGRES_DB=erp

KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_DB_USER=keycloak
KEYCLOAK_DB_PASSWORD=keycloak

MINIO_ROOT_USER=minio
MINIO_ROOT_PASSWORD=minio123

APP_URL=http://localhost:13001
API_URL=http://localhost:13000
KEYCLOAK_PUBLIC_URL=http://localhost:8080
KEYCLOAK_REALM=erp
KEYCLOAK_CLIENT_ID=erp-frontend
KEYCLOAK_API_CLIENT_ID=erp-api
KEYCLOAK_API_CLIENT_SECRET=change_me
FRONTEND_CSRF_MODE=warn
