{
  admin off
}

erp.gob.local, *.erp.gob.local {
  tls internal
  encode gzip
  reverse_proxy frontend:3001 {
    header_up X-Forwarded-Host {host}
    header_up X-Forwarded-Proto {scheme}
  }
}

api.erp.gob.local {
  tls internal
  encode gzip
  reverse_proxy backend:3000
}

auth.erp.gob.local {
  tls internal
  encode gzip
  reverse_proxy keycloak:8080
}
